.spot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  --circle-size: 32px;
  --circle-radius: 14px;
  --circle-center: calc(var(--circle-size) / 2);

  .progress-container {
    position: relative;
    width: var(--circle-size);
    height: var(--circle-size);

    .progress-circle {
      width: 100%;
      height: 100%;
    }

    .progress-background {
      cx: var(--circle-center);
      cy: var(--circle-center);
      r: var(--circle-radius);
      stroke: black;
      stroke-width: 4;
    }

    .progress-foreground {
      cx: var(--circle-center);
      cy: var(--circle-center);
      r: var(--circle-radius);
      stroke-width: 4;
      stroke-linecap: round;
      transform: rotate(-90deg);
      transform-origin: center;
      stroke-dasharray: var(--circumference);
      stroke-dashoffset: var(--circumference);
      transition: stroke-dashoffset 0.3s linear 0s;
      animation: progress-animation 0.5s linear 0s 1 forwards;
    }
  }

  .rating {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    color: white;
  }

  .name {
    text-align: center;
    display: block;
  }

  @keyframes progress-animation {
    from {
      stroke-dashoffset: var(--circumference);
    }
    to {
      stroke-dashoffset: var(--final-dashoffset);
    }
  }
}
